.app {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.display {
  color: white;
  
}

.box {
  background-color: white;
  flex-basis: 5px; 
  flex-grow: 10;
  flex-shrink: 10;
  /* border: 1px solid black; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  justify-content: stretch;
  /* height:1200px; */
}
.control-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  justify-content: flex-start;
  color: white;
}
